<!DOCTYPE html>
<html>
<head>
  <title>Game</title>
</head>
<body>
    <form action="/madlib">
        <p>Choose a person:</p>
        <select name="name">
            <option value="Bob">Bob</option>
            <option value="Buster Posey">Buster Posey</option>          
            <option value="Bobby Brown">Bobby Brown</option>
            <option value="Abraham Lincoln">Abraham Lincoln</option>
            <option value="Joel">Joel</option>
        </select>
        <p>Pick a color:</p>
        <select name="color">
            <option value="red">Red</option>
            <option value="blue">Blue</option>
            <option value="orange">Orange</option>
            <option value="teal">Teal</option>
        </select>
        <p>Now pick a noun:</p>
        <select name="noun">
            <option value="truck">truck</option>
            <option value="puppy">puppy</option>
            <option value="rutabaga">rutabega</option>
            <option value="tree">tree</option>
            <option value="lawngnome">lawn gnome</option>
        </select>
        <p>Lastly, select an adjective:</p>
        <select name="adjective">
            <option value="tired">tired</option>
            <option value="sequined">sequined</option>
            <option value="wet">wet</option>
            <option value="itchy">itchy</option>
            <option value="whimsical">whimsical</option>
        </select>
        <p><input type= "submit" value="submit"></p>
    </form>


</body>
</html>